<footer class="footer container">
    <div class="top-footer">
        <div class="brand" data-aos="zoom-out" data-aos-delay="300" data-aos-duration="1000">
            <img src="/images/brandlogo2.png" alt="brand logo" class="footer-brand-image" width="120px" height="90px">
        </div>
        <div class="links">
            <div class="quick-links">
                <ul class="footer-quicklinks" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
                    <li><a href="" >Home</a></li>
                    <li><a href="" >Shop</a></li>
                    <li><a href="" >About us</a></li>
                    <li><a href="" >Contact</a></li>
                    <li><a href="" >Portfolio</a></li>
                    <li><a href="" >Services</a></li>
                    <li><a href="" >Enrollment</a></li>
                </ul>
            </div>
            
            <div class="contact-sec">
                <ul class="contact-list" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
                    <li>
                        <img class="list-icon" src="/images/icons/contact.png" alt="phone icon">
                        <p class="contact">08101506157</p>
                    </li>
                    <li>
                        <img class="list-icon" src="/images/icons/location.png" alt="location icon">
                        <p class="contact">No8 Golden Street</p>
                    </li>
                    <li>
                        <img class="list-icon" src="/images/icons/email-icon.png" alt="email icon">
                        <p class="contact">globistechsupport@gmail.com</p>
                    </li>
                </ul>
            </div>

            <div class="social-handle">
                <ul class="handle-list">
                    <li>
                        <a href="">
                            <img class="socials" src="/images/icons/facebook_icon.png" alt="facebook icon">
                        </a>
                    </li>
                
                    <li>
                        <a href="">
                            <img class="socials" src="/images/icons/whatsapp_icon.png" alt="whatsapp icon">
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img class="socials" src="/images/icons/twitter_icon.png" alt="twitter icon">
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <img class="socials" src="/images/icons/instagram_icon.png" alt="instagram icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>