<header class="header">
    <! ***** container *****>
    <div class="container index-container" id="header-tab">
        <! ***** Desktop view ***** >
        <div class="dtp-view">
            <div class="brand">
                <img src="/images/brandlogo2.png" class="brand-image" alt="brandlogo"/>
            </div>
        
            <nav class="nav-bar">
                <ul class="nav-list">
                    <li class="nav-item active">
                        <a href="#">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="#">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="#">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a href="#">Portfolio</a>
                    </li>
                </ul>

                <ul class="shop-list">
                    <li class="nav-item">
                        <a href="shop.html" class="shop-nav">Shop</a>
                    </li>
                </ul>
            </nav>
        </div>
        <! ***** Desktop view end ***** >
    
        <! ***** mobile view ***** >
        <div class="mobile-view" style="display: none;">
            <div class="brand">
                <img src="/images/brandlogo2.png" class="brand-image" alt="brandlogo" width="80px" height="60px"/>
            </div>
        
            <div class="nav-collaspe">
                <span class="harmburger-con" id="harmburger_con">
                    <span class="harmburger-stroke"></span>
                    <span class="harmburger-stroke"></span>
                    <span class="harmburger-stroke"></span>
                </span>
                
                <nav class="nav-bar mobile-nav" id="mobile_view_nav">
                    <div class="menu-title">
                        <h2>Menu</h2>
                        
                        <span class="closer" id="tab_closer">
                            <span class="tab-closer">
                            </span>
                            <span class="tab-closer last-cross">
                            </span>
                        </span>
                    </div>
                    
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="imdex.html">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#aboutSec">About</a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#getQuote">Get quote</a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#portfolio">Portfolio</a>
                        </li>
                    
                        <li class="nav-item nav-drop">
                            <div class="nav-sec" id="nav-sec">
                                <a href="#" data-action="dropDown" data-toggle="nav-dropDown" id="toggle-anchor">Academy
                                </a>
                                <span id="dropSpan">+</span>
                            </div>
                            
                            <div class="nav-dropDown">
                                <ul class="drop-link">
                                    <li class="nav-item">
                                    <a href="academy.html" data-action="dropDown">Academy</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                    <a href="signUp.html" data-action="dropDown">Enrollment</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                    <a href="courses.html" data-action="dropDown">Programs</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    
                        <li class="shop-nav-item">
                            <a href="shop.html" class="shop-nav">Shop</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <! ***** mobile view end ***** >
    </div>
    <! ***** container end ***** >

    <! ***** brand banner begins here *****>
    <section class="brand-banner">
        <div class="banner-text">
            <div class="banner-text-content">
                <h4 class ="banner-title-special roboto-mono-font" data-aos="fade-right" data-aos-delay="500"  data-aos-duration="1000">Tech & IT Solutions</h4>
                <h1 class="banner-title-text poppins-extrabold" data-aos="fade-right" data-aos-delay="700" data-aos-duration="1000"
                >Facillitates All Local <br class="hide-break">IT-related</h1>
                <h1 class="banner-title-text poppins-extrabold" data-aos="fade-right" data-aos-delay="700" data-aos-duration="1000"
                >Service Providers</h1>
                <p class="banner-paragraph roboto-mono-font" data-aos="fade-right" data-aos-delay="900" data-aos-duration="1000">
                    Highly Tailored IT Design, Management & Support Services
                </p>
            
                <div class="banner-contact">
                    <div class="contact-list" data-aos="fade-up" data-aos-delay="1100" data-aos-duration="1000">
                        <img src="/images/icons/phone-in.png" alt="phone icon" class="contact-list-icon">
                        <h6 class="contact-list-text">
                            08101506157
                        </h6>
                    </div>
                    
                    <div class="contact-list" data-aos="fade-up" data-aos-delay="1150" data-aos-duration="1000">
                        <img src="/images/icons/email-icon.png" alt="email icon" class="contact-list-icon">
                        <h6 class="contact-list-text">
                            globistechsupport@gmail.com
                        </h6>
                    </div>
                    
                    <div class="contact-list" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000">
                        <img src="/images/icons/location.png" alt="phone icon" class="contact-list-icon">
                        <h6 class="contact-list-text">
                            No8 golden street, PH.
                        </h6>
                    </div>
                    
                    <div class="field-area" data-aos="fade-down" data-aos-delay="1100" data-aos-duration="1300">
                        <button type="submit" class="send_query_btn">SEND A QUERY</button>
                        <button type="submit" class="get_qouta_btn">GET A QOUTE</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-field">
            <form class="email-contact-form" action="">
                <h6>SEND US A QUERY</h6>
                <textarea name="queryMsg" id="queryMsg" cols="30" rows="15" placeholder="what's on your mind"></textarea>

                <button>Send now</button>
            </form>
        </div>
    </section>
    <!**** brand banner ends here *****>
</header> 