/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS rules for extra large devices */
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .record-desc-top{
    padding: 0 5%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* CSS rules for large devices */
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-us-top-sec{
    .top-sec-image-con{
      width: 50%;
      height: 450px !important;
      transition: height .30s ease;
    }

    .top-sec-desc-con{
      /* padding: 3rem 1rem 2rem;
      width: 50%;
      text-align: center; */
    }
  }

  .service-list-con{
    gap: 5rem !important;
  }

  #slider{
    width: 100%;
  }

  .online-class-sec{

    .online-sec-desc{
      width: 30rem !important;
    }
  }
}

@media (max-width: 1066px){
  .brand-banner{
    background-size: cover !important;
  }

  .hide-break{
    display: block !important;
  }

  .about-us-top-sec{
    .top-sec-image-con{
      width: 45%;
      height: 400px !important;
    }
  }

  .online-class-sec{
    .online-sec-desc{
      width: 27rem !important;
    }

    .online-sec-image-con{
      width: 28rem !important;
      /* padding: 2rem 0; */
      
      .image-sec{
        height: 23rem !important;
      }
    }
  }

  .service-list-con{
    gap: 3.5rem !important;

    .service-list-image{
      width: 22rem !important;
      height: 18rem !important;
    }

    .service-list-desc-sec{
      width: 27rem;
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* CSS rules for medium devices */
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }

  .brand-banner::after{
    background: none !important;
    background-color: rgba(0, 50, 148, 0.7) !important;
  }

  .top-sec-title-con{
    padding: 1rem 1rem 2rem !important;
  }

  .about-us-top-sec{
    flex-direction: column;

    .top-sec-image-con{
      width: 100% !important;
      height: 500px !important;
    }

    .top-sec-desc-con{
      width: 100% !important;
      text-align: left !important;
    }
  }

  .our-service-sec{

    .service-title{
      margin: 4rem auto 1.5rem !important;
    }

    .service-list-con{
      margin-bottom: 6rem !important;
      gap: 0 !important;
      justify-content: center !important;

      .service-list-image{
        /* width: 18rem !important;
        height: 14rem !important; */
      }

      .service-list-desc-sec{
        width: 25rem !important;
      }
    }
    .service-list-con:last-child{
      margin-bottom: 4rem !important;
    }
  }

  .extra-top-title{
    padding-top: 5rem !important;
  }

  .service-extra{
    padding-bottom: 2.5em !important;
  }

  .carousel {
    .slides{
      .slide{
        .card{
          flex-direction: column;

          .card-head-sec{
            height: 22rem;
            width: 100% !important;
          }

          .card-body{
            width: 100% !important;
          }
        }
      }
    }
  }

  .faqs-quote{
    flex-direction: column;
    padding-bottom: 4rem !important;
    padding-top: 4rem !important;

    .qoute{
      width: 100% !important;
      /* margin-bottom: 2rem !important; */
    }

    .faqs{
      width: 100% !important;
    }
  }
}

@media (max-width: 977px){
  .online-class-sec{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    gap: 3rem;

    .online-sec-image-con{
      margin-bottom: 2rem !important;
    }
  }
}

@media (max-width: 836px){
  .service-list-image{
    margin-bottom: 1.5rem;
  }

  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .dtp-view{
    display: none !important;
  }
  
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }

  .mobile-view{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    a{
      display: inline-block;
      width: 100%;
    }

    a[data-action="dropDown"]{
      display: inline !important;
      width: fit-content !important;
    }

    .brand{
      width: 4rem;
      height: 3.2rem;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .nav-collaspe{
      
      .harmburger-con{
        width: 1.5rem;
        height: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .harmburger-stroke{
          width: auto;
          border: 1px solid gray;
          display: inline-block;
        }
      }
    }

    .mobile-nav{
      position: fixed;
      top: 0rem;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: white;
      z-index: 10 !important;
      color: black;
      background-color: rgba(100, 100, 100, 0.3);

      .menu-title{
        text-align: center;
        padding: 2rem 0;
        position: relative;
        width: 70%;
        background-color: rgb(230, 230, 230);
        border-radius: 0 .5rem 0 0;

        .closer{
          position: absolute;
          right: 10px;
          top: 38%;
          width: 2rem;
          height: 2rem;

          .tab-closer{
            height: 1.2rem;
            position: absolute;
            border: .9px solid #da9100;
            transform: rotate(50deg);
            margin-top: .3rem;
          }

          .last-cross{
            transform: rotate(130deg);
          }
        }
      }

      .nav-list{
        list-style-type: none;
        padding: 2rem 1rem;
        height: 87%;
        background-color: #003292;
        width: 70%;
        border-radius: 0 0 .5rem 0;
        position: relave;

        .nav-item{
          padding: 1.5rem 0 .5rem;
          border-bottom: 1px solid rgb(220, 220, 220);
        }
      }

      li a{
        text-decoration: none;
        color: white;
      }

      .nav-list .shop-nav-item{
        width: 100%;
        margin-top: 10rem;

        a{
          background-color: white;
          color: #da9100 !important;
          padding: .7rem 0;
          display: inline-block;
          width: 100%;
          text-align: center;
          border-radius: 2rem;
          box-shadow: 0px 0px 10px red;
        }
      }
    }

    .mobile-nav.tabAnimation{
      transition: left .30s linear;
    }
  }

  .nav-drop{
    padding-bottom: 1rem !important;
    margin-bottom: 0 !important;

    .nav-sec{
      display: flex;
      justify-content: space-between;

      span{
        color: white;
      }
    }

    .nav-dropDown{
      padding: 0 !important;
      margin: 0;
      height: 0px;
      overflow-y: hidden;

      .drop-link{
        list-style-position: inside;
        padding: 1rem 0 0rem;
        margin: 0 !important;

        .nav-item{
          padding: 0 0 .5rem !important;
          border: none !important;
          margin: 0;
        }

        .nav-item:last-child{
          padding-bottom: 0 !important;
        }
      }
    }
  }

  .brand-banner::after{
    background: none !important;
    background-color: rgba(0, 50, 148, 0.7) !important;
  }

  .top-sec-title-con{
    padding: 1rem 1rem 2rem !important;
  }

  .about-us-top-sec{
    flex-direction: column;

    .top-sec-image-con{
      width: 100% !important;
      height: 400px !important;
    }

    .top-sec-desc-con{
      width: 100% !important;
      text-align: left !important;
    }
  }

  .our-service-sec{

    .service-title{
      margin: 4rem auto 1.5rem !important;
    }

    .service-list-con{
      margin-bottom: 6rem !important;
      gap: 0 !important;
      justify-content: center !important;

      .service-list-image{
        width: 20rem !important;
        height: 16rem !important;
        
        img{
          display: block !important;
          margin-left: -3rem !important;
        }
      }

      .service-list-desc-sec{
        width: 25rem !important;
      }
    }
    .service-list-con:last-child{
      margin-bottom: 4rem !important;
    }
  }

  .extra-top-title{
    padding-top: 5rem !important;
  }

  .service-extra{
    padding-bottom: 2.5em !important;
  }

  .carousel {
    .slides{
      .slide{
        .card{
          flex-direction: column;

          .card-head-sec{
            height: 18rem !important;
            width: 100% !important;
          }

          .card-body{
            width: 100% !important;
            padding: .5rem 2rem !important;

            .card-body-desc-sec{
              p{
                margin-bottom: .5rem !important;
              }
            }
          }
        }
      }
    }
  }

  .faqs-quote{
    flex-direction: column;
    padding-bottom: 4rem !important;
    padding-top: 4rem !important;

    .qoute{
      width: 100% !important;
      /* margin-bottom: 2rem !important; */
    }

    .faqs{
      width: 100% !important;
    }
  }

  .footer{
    padding-top: 3.5rem !important;
    padding-bottom: 0 !important;
  }

  .links{
    display: grid !important;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
    height: 23rem !important;

    .social-handle{
      grid-column: 1 / span 2;
      
      ul{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;
        height: 100% !important;

        li{
          width: 28px !important;
          height: 28px !important;
        }
      }
    }
  }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575px) {
  .dtp-view{
    display: none !important;
  }
  
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }

  .mobile-view{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    a{
      display: inline-block;
      width: 100%;
    }

    a[data-action="dropDown"]{
      display: inline !important;
      width: fit-content !important;
    }

    .brand{
      width: 4rem;
      height: 3.2rem;

      img{
        width: 100%;
        height: 100%;
      }
    }

    .nav-collaspe{
      
      .harmburger-con{
        width: 1.5rem;
        height: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .harmburger-stroke{
          width: auto;
          border: 1px solid gray;
          display: inline-block;
        }
      }
    }

    .mobile-nav{
      position: fixed;
      top: 0rem;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: white;
      z-index: 10 !important;
      color: black;
      background-color: rgba(100, 100, 100, 0.3);

      .menu-title{
        text-align: center;
        padding: 2rem 0;
        position: relative;
        width: 70%;
        background-color: rgb(230, 230, 230);
        border-radius: 0 .5rem 0 0;

        .closer{
          position: absolute;
          right: 10px;
          top: 38%;
          width: 2rem;
          height: 2rem;

          .tab-closer{
            height: 1.2rem;
            position: absolute;
            border: .9px solid #da9100;
            transform: rotate(50deg);
            margin-top: .3rem;
          }

          .last-cross{
            transform: rotate(130deg);
          }
        }
      }

      .nav-list{
        list-style-type: none;
        padding: 2rem 1rem;
        height: 87%;
        background-color: #003292;
        width: 70%;
        border-radius: 0 0 .5rem 0;
        position: relave;

        .nav-item{
          padding: 1.5rem 0 .5rem;
          border-bottom: 1px solid rgb(220, 220, 220);
        }
      }

      li a{
        text-decoration: none;
        color: white;
      }

      .nav-list .shop-nav-item{
        width: 100%;
        margin-top: 10rem;

        a{
          background-color: white;
          color: #da9100 !important;
          padding: .7rem 0;
          display: inline-block;
          width: 100%;
          text-align: center;
          border-radius: 2rem;
          box-shadow: 0px 0px 10px red;
        }
      }
    }

    .mobile-nav.tabAnimation{
      transition: left .30s linear;
    }

    .nav-drop{
      padding-bottom: 1rem !important;
      margin-bottom: 0 !important;
  
      .nav-sec{
        display: flex;
        justify-content: space-between;
  
        span{
          color: white;
        }
      }
  
      .nav-dropDown{
        padding: 0 !important;
        margin: 0;
        height: 0px;
        overflow-y: hidden;
  
        .drop-link{
          list-style-position: inside;
          padding: 1rem 0 0rem;
          margin: 0 !important;
  
          .nav-item{
            padding: 0 0 .5rem !important;
            border: none !important;
            margin: 0;
          }
  
          .nav-item:last-child{
            padding-bottom: 0 !important;
          }
        }
      }
    }
  }

  .brand-banner{
    padding: 3rem 5% !important;
    border-radius: 0 0 2rem 2rem !important;

    button{
      padding: .8rem 1.2rem !important;
      font-size: 14px !important;
    }
  }

  .brand-banner::after{
    background: none !important;
    background-color: rgba(0, 50, 148, 0.7) !important;
    border-radius: 0 0 2rem 2rem !important;
  }

  .about-section{
    margin: 1rem 0 0rem !important;

    .inner-about{
      margin-bottom: 1.5rem !important;
    }

    .top-sec-title-con{
      padding: 0rem 1rem !important;
    }
  }

  .about-us-top-sec{
    flex-direction: column;
    padding: 1rem 0rem 0rem !important;
    margin-top: 0rem;
    margin-bottom: 1.5rem !important;

    .top-sec-image-con{
      width: 100% !important;
      height: 400px !important;

      img{
        border-radius: 1rem .5rem .5rem !important;
      }
    }

    .top-sec-desc-con{
      width: 100% !important;
      text-align: left !important;
      padding: 2rem 1rem 1rem !important;
    }
  }

  .our-service-sec{

    .service-title{
      margin: 3rem auto 0rem !important;
    }

    .inner-service-sec{
      padding: 1rem 0 1.5rem !important;
      margin-top: 1rem !important;
    }

    .service-list-con{
      margin-bottom: 4rem !important;
      gap: 0 !important;
      justify-content: flex-start !important;

      .service-list-image{
        width: 100% !important;
        height: 16rem !important;
        margin-bottom: 0rem !important;
      }

      .service-list-desc-sec{
        width: 100% !important;
      }
    }
    .service-list-con:last-child{
      margin-bottom: 2rem !important;
    }
  }

  .extra-top-title{
    padding-top: 3rem !important;
  }

  .service-extra{
    padding-bottom: 1em !important;
  }

  .brand-record-desc{
    padding: 2rem 1rem !important;

    .title-thin{
      margin-bottom: 1rem !important;
      margin-top: 1rem !important;
    }

    .title-thick{
      margin-bottom: 2rem !important;
    }

    .record-track{
      margin: 3rem 0 1rem !important;
      gap: 0rem !important;
    }
  }

  .portfolio{
    padding: 2rem 0 !important;
  }

  .carousel {
    .slides{
      margin: 0 -5% !important;
      .slide{
        width: 100% !important;

        .card{
          flex-direction: column;

          .card-head-sec{
            height: 15rem !important;
            width: 100% !important;
          }

          .card-body{
            width: 100% !important;
            padding: .5rem 1rem !important;

            .card-body-desc-sec{
              p{
                margin-bottom: .5rem !important;
              }
            }

            .card-body-title-sec{
              h4{
                margin-bottom: 0rem !important;
              }

              h6{
                margin-bottom: .5rem !important;
              }
            }
          }

          a{
            padding: .6rem 2rem !important;
          }
        }
      }
    }
  }

  .online-class-sec{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;

    .online-sec-image-con{
      width: 30rem;
    }
  }

  .faqs-quote{
    flex-direction: column;
    padding-bottom: 4rem !important;
    padding-top: 4rem !important;

    .qoute{
      width: 100% !important;
      padding: 2rem 1rem !important;
    }

    .faqs{
      width: 100% !important;
      padding: 2rem 1rem !important;
    }
  }

  .footer{
    padding-top: 3.5rem !important;
    padding-bottom: 0 !important;
  }

  .links{
    display: grid !important;
    grid-template-columns: 100%;
    gap: 1.5rem;

    .social-handle{
      
      ul{
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;
        height: 100% !important;
        padding-top: 1rem;

        li{
          width: 28px !important;
          height: 28px !important;
        }
      }
    }
  }
}


